<h1 class="text-center">Welcome on Mister-Cocktail</h1>
  <p class="text-center">Here is a list of all available cocktails</p>
  <p class="text-center">
    <%= link_to ':: Add new ::', new_cocktail_path, { class: 'text-center' }%>
  </p>

<div class="container block-center">

  <ul class="list-unstyled list-cocktail block-center">
    <% @cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail),
              { class: 'text-center'} %>
        <%= image_tag cocktail.picture unless cocktail.picture.nil? %>
        <%= cl_image_tag(cocktail.avatar, :transformation=>[
  {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"thumb"}
  ]) unless cocktail.avatar.nil? %>
      </li>

    <% end %>
  </ul>
</div>
