

h1{
  color:red;
  margin-top: 40px;
}

img{
  width:150px;
  height:100px;
  object-fit:cover;
  margin:10px;
}

.list-cocktail{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  width:70%;
  margin:30px auto;
}

form{
  width:60%;
  margin-left:20px;
}
